<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>storyboard</title>
    {{!-- <link rel="stylesheet" href="/public/site.css"> --}}
</head>

<body>
  <header>
    <div>
        <ul class="topnav">
            <li><a href="/">HOME</a></li>
            <li class="right"><a href="/users/profile">USER</a></li>
        </ul>
    </div>
  </header> 
  <main >
    {{{body}}}
  </main>
</body>


</html>