<header>
    <h1>
        APPOINTMENT MENU
    </h1>
</header>

<div >
    
    <form action="/articles/newArticle" method="get" id="create-article">
        <div class="login">
            <button type="submit" class="button">Create A New Article</button>
        </div>
    </form>
    

    {{#if error}}
	    <p >{{error}}</p>
	{{/if}}
</div>